
    {{!-- form that we will send the data across with HB--}}
    <h1>SIGN UP:</h1>
   <form action="/signup" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email">
    <br>
    <input type="submit" value="send"> <br/>
    </form>
{{!--  ------------------------------------------------------------------ --}}
    <h1>LOG IN:</h1>
    <form action="/login" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email">
    <br>
    <input type="submit" value="send">
</form>
